RewriteEngine On

# Nếu file hoặc thư mục tồn tại thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển các URL dạng /admin/product về index.php?action=admin/product
RewriteRule ^(.*)$ index.php?action=$1 [QSA,L]